# ===== App =====
NODE_ENV=development
APP_NAME=fastify-payment
PORT=3000

# ===== Redis =====
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DB=0

# ===== Xendit =====
XENDIT_SECRET_KEY=xnd_development_xxx
XENDIT_WEBHOOK_SECRET=your-webhook-secret

# ===== Worker =====
WORKER_CONCURRENCY=1

# ===== Logging =====
LOG_LEVEL=info
